<div class="container w-full min-h-screen bg-black flex flex-col items-center px-4">
  <div class="rounded-sm max-w-md w-full mx-auto mt-8 sm:mt-16 p-4 sm:p-8 bg-gray-700 rounded-2xl shadow-lg text-white">
    <h2 class="text-2xl font-bold text-center mb-4">Atualizar produto</h2>

    @if (!selecionado) {
      @if (produtos.length === 0) {
        <p class="text-center text-sm text-gray-100">Nenhum produto cadastrado.</p>
      }

      <div class="bg-white rounded-xs rounded-lg overflow-hidden">
        <mat-selection-list [multiple]="false" (selectionChange)="onSelecaoAlterada($event)">
          @for (produto of produtos; track produto.id) {
            <mat-list-option [value]="produto">{{ produto.name }}</mat-list-option>
          }
        </mat-selection-list>
      </div>
    }

    @if (selecionado) {
      <div class="flex flex-col gap-2 ">
        <mat-form-field>
          <mat-label>Nome</mat-label>
          <input matInput [(ngModel)]="edicao.name" name="name">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Descrição</mat-label>
          <textarea matInput [(ngModel)]="edicao.description" name="description"></textarea>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Preço</mat-label>
          <input matInput type="number" [(ngModel)]="edicao.price" name="price">
        </mat-form-field>

        <div class="flex flex-col gap-2 mb-2">
          <label class="text-sm text-gray-200">Imagem</label>

          <input
            #fileInput
            type="file"
            accept="image/*"
            (change)="onImagemSelecionada($event)"
            class="hidden"
          >

          <button class="bg-white" type="button" mat-stroked-button (click)="fileInput.click()">
            <mat-icon fontIcon="image"></mat-icon>
            Trocar imagem
          </button>

          @if (previewUrl) {
            <img [src]="previewUrl" alt="Pré-visualização" class="w-32 h-32 object-cover rounded-lg border border-gray-300">
          }
        </div>

        <div class="flex gap-2">
          <button type="button" mat-flat-button color="primary" (click)="salvar()">Atualizar</button>
          <button type="button" mat-flat-button color="primary" (click)="cancelar()">Voltar à lista</button>
        </div>
      </div>
    }
  </div>
</div>
